<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Generation API</title>
</head>
<body style="text-align: center;">
    <h1>Welcome to my API!</h1>
    <h2>It is pretty simple but I use it to generate dummy user data when testing for web development.</h2>
    <h2>To use it, you can just enter an integer (for example: /3) and it will generate that many users.</h2>
</body>
</html>